<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="org.efaps.test.jms">
    <test name="CITests">
        <parameter name="baseFolder" value="../../../main/efaps"></parameter>
        <parameter name="application" value="eFapsApp-JMS"/>
         <packages>
            <package name="org.efaps.tests.*"></package>
        </packages>
    </test>
</suite>
